{% extends 'base.html' %}

{% block content %}

<h3 class="text-center mt-5 mb-5">Sizning savatingiz {% if not cart.products.count %}Bo'sh{% endif %}</h3>

{% if messages %}
    {% for message in messages %}
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
{% endif %}
{% if cart.products.count %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nomi</th>
        <th scope="col">Rasmi</th>
        <th scope="col">Narxi</th>
        <th scope="col">Soni</th>
        <th scope="col">Umumiy narx</th>
        <th scope="col">Amal</th>
      </tr>
    </thead>
    <tbody>
        {% for item in cart.products.all %}
            <tr>
                <th scope="row">{{ item.content_object.title }}</th>
                <td class="w-25"><img src ="{{ item.content_object.image.url }}" class="img-fluid"></td>
                <td>{{ item.content_object.price }}</td>
                <td>
                  <form action="{% url 'change_qty' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}" method="POST">
                    {% csrf_token %}
                    <input type="number" value="{{ item.qty }}" name="qty" min=1 class="form-control" style="width: 65px;">
                    <br>
                    <input type="submit" class="btn btn-primary" value="Sonini o'zg-sh">
                  </form>
                </td>
                <td>{{ item.final_price }} so'm</td>
                <td>
                    <a href="{% url 'remove_from_cart' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}"><button class="btn btn-danger">O'chirish</button></a>
                </td>
            </tr>
        {% endfor %} 
            <tr>
                <td colspan="2"></td>
                <td>Jami:</td>
                <td>{{ cart.total_products }}</td>
                <td><strong> {{ cart.final_price }} so'm </strong></td>
                <td><a href="{% url 'checkout' %}"><button class="btn btn-primary">Ro'yxatdan o'tkazish</button></a></td>
            </tr>
    </tbody>
  </table>

{% endif %}
{% endblock content %}