    <table class="table">
       
        <tbody>
            <tr>
                <td>Diagonal</td>
                <td>{{ product.diagonal }}</td>
            </tr>
            <tr>
                <td>Display turi</td>
                <td>{{ product.display_type }}</td>
            </tr>
            <tr>
                <td>Chastota</td>
                <td>{{ product.processor_freq }}</td>
            </tr>
            <tr>
                <td>Tezkor xotira </td>
                <td>{{ product.ram }}</td>
            </tr>
            <tr>
                <td>Asosiy xotira</td>
                <td>{{ product.rom }}</td>
            </tr>
            <tr>
                <td>Videokarta</td>
                <td>{{ product.videokart }}</td>
            </tr>
            <tr>
                <td>Akkumulyator ishlash vaqti</td>
                <td>{{ product.time_without_charge }}</td>
            </tr>
        </tbody>

    </table>

